<!-- templates/base.html -->
{% load static %}
<!Doctype html>
<header>
    <title>Paralegal</title>
    <a class="header-link" href="{% url 'home' %}">Home</a>
    <a class="header-link" href="{% url 'supreme_court_judgements' %}">Supreme Court Judgements</a>
    <a class="header-link" href="{% url 'about' %}">About</a>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</header>

{% block content %}
{% endblock content %}