<!-- templates/home.html -->
<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
<!-- This is the content of the home page -->

<form method="get" size="100">
    {{ search_form.as_p }}
    <button class="search-btn" type="submit">search</button>
</form>


{% if results %}
<h2>Results for "{{ query }}"</h2>

<ul class="judgements-list">
    {% for judgement in results %}
    <li class="judgement-item">
        <span class="judgement-date">{{ judgement.date }}</span>
        <span class="judgement-case-number">{{ judgement.standard_casenumber }}</span>
        <a class="judgement-link" href="{{ judgement.link }}">link</a>
        <span class="judgement-matter">{{ judgement.in_the_matter_of }}</span>
        <br>
    </li>
    {% endfor %}
</ul>


{% else %}
<p>No results found.</p>
{% endif %}

<!-- Add a search box -->

{% endblock content %}