<!-- templates/home.html -->
<!DOCTYPE html>


{% extends 'base.html' %}

{% load judgement_tags %}

{% block content %}
<!-- This is the content of the home page -->

<form class="search-form" method="get" size="100">
    <p>
        <label for="{{ search_form.search_query.id_for_label }}" class="sr-only">Search query</label>
        {{ search_form.search_query }}
    </p>
    <button class="search-btn" type="submit">search</button>
</form>


{% if results %}
<h2 class="results-for">Results for "{{ query }}"</h2>
<ul class="judgements-list">
    {% for judgement in results %}
    <li class="judgement-item">
        <div class="judgement-header">
            <span class="judgement-date">{{ judgement.date }}</span>
            <span class="judgement-case-number">{{ judgement.standard_casenumber }}</span>
            <a class="judgement-link" href="{{ judgement.link }}">link</a>
        </div>
        <div class="judgement-body">
            <span class="judgement-matter">{{ judgement|relevant_text:query }}</span>
        </div>
    </li>
    {% endfor %}
</ul>


{% else %}
<p class="no-results-found">No results found.</p>
{% endif %}

<!-- Add a search box -->

{% endblock content %}