<!-- templates/judgementlist.html -->
<!DOCTYPE html>

{% extends 'base.html' %}
{% block content %}
<!-- This is the content of the home page -->


<form method="get">
    {{ filter_form.as_p }}
    <button class="search-btn" type="submit">filter</button>
</form>

<form method="get" size="100">
    {{ search_link_form.as_p }}
    <button class="search-btn" type="submit">search for link</button>
</form>


{% if year and month %}
<h2>Judgements issued by the Supreme Court of Sri Lanka in {{ month }}, {{ year }} </h2>
{% elif year and not month %}
<h2>Judgements issued by the Supreme Court of Sri Lanka in {{ year }} </h2>
{% elif search_link %}
<h2>Result for {{ search_link }} </h2>
{% else %}
<h2>Judgements issued by the Supreme Court of Sri Lanka (2009-2023)</h2>
{% endif %}


{% if all_judgements_list %}
<ul class="judgements-list">
    {% for judgement in all_judgements_list %}
    <li class="judgement-item"> <span class="judgement-date">{{ judgement.date }}</span>
        <span class="judgement-case-number">{{ judgement.standard_casenumber }}</span>
        <a class="judgement-link" href="{{ judgement.link }}">link</a>
        <span class="judgement-matter">{{ judgement.in_the_matter_of }}</span>
        <br>
    </li>
    {% endfor %}
</ul>

{% else %}
<p>No results found.</p>
{% endif %}
{% endblock content %}